python-dotenv
requests
tzdata
rich
arxiv
ddgs
pymupdf
beautifulsoup4
langchain
langchain_community
langchain-google-genai
langgraph
langchain_openai
langchain-chroma
langchain-text-splitters
langchain-huggingface
sentence-transformers